*{
    padding: 0px;
    margin: 0px;
}


.Main_page_div_5{
    padding-top: 16vh;
    height: 500px;
    /* display: flex; */
    background-color: rgb(15, 49, 78);
    padding-left: 0px;
    width: 60%;

}
/* .Main_page_div_1{
    padding-left: 400px;
   
} */