.firstDiv_12{
    background-color:rgb(15, 49, 78);
    height: 600px;
}

.jumbotron{
    width: 560px;
    border-radius: 5px;
    padding-top: 8px;
}

.form-control{
    background-color:lightyellow;
    margin: 5px;
}
/* #a{
    padding-top: 6px;
} */