.nav{
    height: 13vh;
    display: flex;
    position: fixed;
    z-index: 1000;
    background: white;
    width: 100%;
}
.nav-item{
    display: flex;
    
}
.nav-item img{
    height: 12vh;
}
.nav-item1{
    gap: 0px;
}
.nav-item1 h2{
    padding-top: 20px;
    gap: 0px;
    margin: 0px 0px 0px 0px;
   margin-block-end: 0px;
  line-height:0.5;
}
.nav-item1 span{
    font-size: 12px;
    padding-bottom: 5px;
    line-height:0;
}
.nav-item1 p{
    height: 100px;
    
}
.nav-item2{
    padding-left: 220px;
    padding-top: 20px;
    background-color: white;
}
.nav-item2 select{
    border-radius: 15px;
     font-weight: 8px;
     font-size: 13px;
     
     background-color:rgb(233, 233, 196);
}
.search_place{
    font-size: 5px;
}
.nav-item4 button img{
    height: 45px;
   padding-top: 15px; 
   padding-left: 10px;

 

}
.nav-item4 button{
    border: none;
    border-bottom: none;
    background-color: white;
}
.product_cart{
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
 

}
 .product_cart_back:hover{ 
      
      box-shadow: 20px;
     
      border-radius: 20px;
      
 } 
 .product_cart_back{
    background-color:lavenderblush;
    box-shadow: 10px  10px 10px rgba(0,0,0,0.1);
  border-radius: 20px;
    width: 250px;
    text-align: center;


 }
 .product_cart_back div img{
    border-radius: 0px 20px;
 }
 .product_cart p{
    /* white-space:nowrap; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
 }
.back-1{
    padding-top: 18px;
    padding-left: 60px;
    
}
.back-1 .btn{
 font-size: 14px;
}
.end_line{
    height: 14px;
}
.footer_div1{
    display: flex;
    width: 90%;
        padding-left: 150px;

}
.footer_page{
    background-color: rgb(54, 53, 53);
    color: azure;
}
.footer_div2{
    display: flex;
    gap: 50px;
    padding-left: 270px;
}
.price {
  font-family: 'Poppins', sans-serif;  /* modern clean font */
}

.old-price {
  text-decoration: line-through;   /* cut line */
  color: #999;                     /* light grey color */
  margin-right: 8px;               /* gap between prices */
  font-size: 1rem;
}

.new-price {
                    /* red for offer */
  font-weight: 600;                /* slightly bold */
  font-size: 1.2rem;
}
.nav_niche{
    padding-top: 13vh;
}
.product_name{
     overflow: hidden;
      width: 250px;
    text-align: center;

}
.buy_button{
             border-radius: 10px;
             height: 35px;
             width: 100px;
             background-color: #77B254;
}

.nav_my{
    /* height: 13vh; */
    display: flex;
    
    z-index: 1000;
    background: white;
    width: 100%;
}

.nav-item3{
    padding-left: 400px;
    padding-top: 20px;
    background-color: white;
}
.footer_div3{
    display: flex;
    width: 90%;
        padding-left: 250px;
}