.boldtag{
    margin: 10px;
    padding: 10px;
}
.list{
    background-color:rgb(15, 49, 78);
    color:white;
    width: 90%;
    height: 30px;
    padding-top: 5px;
}
.Under_border tr, td{
    border: 1px;
}