.Main_page_div_2{
    display: flex;
    background-color:#ffffff;
     border-radius: 10px;
    height: 200px;
    width: 450px;
    /* padding-left: 125px; */
    /* padding-top: 10px; */
} 



#first{
     background-color:lightyellow;
    height: 30px;
    /* padding: 5px; */
    margin: 5px;
}
.h4{
    padding-right: 50px;
}

#btn{
    margin: 5px;
}
#remember{
    padding-left: 0px;
    font-size: 12px;
}