.firstDiv{
    background-color:rgb(15, 49, 78);
    height: 650px;
    width:100%;
     padding-left: 0px;
}

.jumbotron{
    width: 90%;
    border-radius: 5px;
    /* padding-top: 8px; */
    background-color: white;
    padding-left: 0px;
    
}

.form-control{
    background-color:lightyellow;
    /* margin: 5px; */
    width: 200px;
}

.abc{
padding-left: 65px;
}

/* .CRButton_1{
    background-color: rgb(226, 20, 20);
    border-radius: 5px;
    border: 2px;
} */
 /* .CRButton{
    border-radius: 5px;
 } */